<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
<!-- User can view products at once or sort by category, price, rating -->          
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="forestry-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Forestry
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="forestry-link">
                <a href="{% url 'products' %}?category=semi" class="dropdown-item">Semi</a>
                <a href="{% url 'products' %}?category=centre_axle_drawbar" class="dropdown-item">Centre Axle Drawbar</a>
                <a href="{% url 'products' %}?category=turntable" class="dropdown-item">Turntable</a>
                <a href="{% url 'products' %}?category=semi_crane" class="dropdown-item">Semi with Crane</a>
                <a href="{% url 'products' %}?category=semi,centre_axle_drawbar,turntable,semi_crane" class="dropdown-item">All Timber Trailers</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="construction-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Construction
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="construction-link">
                <a href="{% url 'products' %}?category=platform" class="dropdown-item">Platform</a>
                <a href="{% url 'products' %}?category=block_crane" class="dropdown-item">Block Crane</a>
                <a href="{% url 'products' %}?category=bulk_tipper" class="dropdown-item">Bulk Tipper</a>
                <a href="{% url 'products' %}?category=platform,block_crane,bulk_tipper" class="dropdown-item">All Construction</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="special-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Built
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="special-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
    </div>
        